marmaladeCat = #F8C830
waterBowl = #249AA7
robinsEgg = #B8E1F2
greenGrass = #87E05E
catTongue = #F1594A

.main-header
  position: absolute
  background: marmaladeCat
  top: -20px
  left: 0
  width: 100%
  box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
  z-index: 500
  transition-property: top
  transition-duration: 0.3s
  cursor: pointer

  .main-nav
    float: right
    padding-right: 20px
    font-family: 'Bowlby One SC'
    font-weight: light

  &:hover
    top: 0px
    transition-property: top
    transition-duration: 0.3s

  .logo
    position: absolute
    right: 1em
    top: 1em
    font-size: 3em
    color: black
    font-family: 'Bowlby One SC'
    background: none
