lightPurple = #F4E6F5

.new-cat-container
  text-align: center
  background: lightPurple

.new-cat-header
  padding-top: 1em
  border-bottom: 4px solid black
  margin-bottom: 1em
  background: white

.new-cat-form
  max-width: 700px
  margin: 0 auto
  padding: 2em
  border: 8px solid black
  border-radius: 10px
  position: relative
  margin-bottom: 2em
  background: white

  &:after
    content: ''
    height: 3.5em
    width: 8px
    background: black
    position: absolute
    right: 50%
    top: -3.5em

  > fieldset
    display: block
    margin: 1em 0
  
    label
      display: block
      padding: 20px 0 20px 0
      
.form-header
  padding-bottom: 1em

.example-profile
  position: relative
  display: inline-block

  .icon-arrow-down
    position: absolute
    font-size: 3em
    right: -1.5em
    top: 0.1em

.cat-profile
  max-width: 500px
  margin: 2em auto
  border: 8px solid black
  padding: 2em
  border-radius: 10px
  margin-bottom: 1em
  text-align: left
  background: white

  &.img-circle
    .cat-img
      border-radius: 50%

  &.black-bg
    background: #333
    color: white

.cat-img
  width: 150px
  height: 150px
  background: #ccc
  border: 8px solid #888
  overflow: hidden
  margin: 0 auto

  > img
    position: relative
    right: 10px
    bottom: 10px

input.top-input
  border: 5px solid white
  -webkit-box-shadow: 
  inset 0 0 4px rgba(0,0,0,0.3),
  0 0 8px rgba(0,0,0,0.3)
  -moz-box-shadow: 
  inset 0 0 4px rgba(0,0,0,0.3),
  0 0 8px rgba(0,0,0,0.3)
  box-shadow: 
  inset 0 0 4px rgba(0,0,0,0.3),
  0 0 8px rgba(0,0,0,0.3)
  padding: 10px
  background: rgba(255,255,255,0.5)

fieldset
  font-family: 'Bowlby One SC'    
  color: #333  
 
